---
---

@import "{{ site.theme }}";

/* LinkedIn Button Styles */
.linkedin-btn {
  display: inline-block;
  background-color: #0077B5; 
  color: white;
  padding: 8px 16px; 
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  border: 1px solid #005582; 
  font-weight: bold; 
}

.linkedin-btn:hover, .linkedin-btn:focus {
  background-color: #005582; 
  color: white;
  text-decoration: none; 
  cursor: pointer; 
}

/* GitHub Button Styles */
.github-btn {
  display: inline-block;
  background-color: black; 
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #333; 
}

.github-btn:hover, .github-btn:focus {
  background-color: #333; 
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #333;
  text-align: center;
  color: white;
  border: 2px solid white; 
  border-radius: 12px; 
  padding: 10px;
}

/* Header Skills Style */
.skill-section .skill-tags h3 {
    color: white;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 2px solid #218838;
    text-align: center;
}

.skill-tags {
    padding-top: 10px;  
    padding: 12px;   
    display: inline-block; 
}

.skill-tags .skill {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    background-color: #28a745; 
    color: white;
    text-decoration: none;
    border: 2px solid #218838; 
    border-radius: 12px; 
    font-family: Arial, sans-serif;  
    transition: background-color 0.3s;  
}

/* CSS Styles for Project Cards */
.project-card {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	width: 100%;
}

.project-card h3 {
	margin-top: 0;
}

.project-skills-container {
	display: flex;
	/* Establishes a flex container */
	align-items: center;
	/* Vertically centers the items in the container */
	flex-wrap: wrap;
	/* Allows items to wrap onto the next line if needed */
}

.project-skills-label {
	margin-right: 10px;
	/* Adds some space between the label and the tags */
	font-weight: bold;
	/* Optionally makes the label bold */
}

.project-skills {
	display: flex;
	flex-wrap: wrap;
	/* Allows tags to wrap to the next line on smaller screens */
	background-color: #d6d6d6;
	/* New background color */
	border-radius: 15px;
	/* New rounded corners for the container */
	padding: 5px;
	/* Padding inside the container */
	margin-top: 5px;
	/* Adds space above the container */
	margin-bottom: 5px;
}

.project-skill-tag {
	background-color: #007bff;
	/* Blue background */
	color: white;
	/* White text */
	border-radius: 20px;
	/* Rounded corners */
	padding: 5px 10px;
	/* Padding inside each tag */
	margin: 5px;
	/* Space between tags */
	font-size: 14px;
	white-space: nowrap;
	/* Prevents breaking into multiple lines */
}

.project-card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.project-card p {
	margin-top: 0;
}

.project-card ul {
	margin-top: 0;
	padding-left: 20px;
}

.index-header-container {
    text-align: center; /* Centers the text inside the container */
    margin-top: 20px; /* Adds space above the container */
    margin-bottom: 20px; /* Adds space below the container */
}

.index-header-container h1 {
    font-size: 32px; /* Large font size for the main title */
    color: #333; /* Dark grey color for better readability */
    margin-bottom: 10px; /* Adds a small space between the main title and subtitle */
}

.index-header-container h2 {
    font-size: 24px; /* Slightly smaller font size for the subtitle */
    color: #555; /* Lighter grey color for the subtitle */
}

