---
---

@import "{{ site.theme }}";
/* LinkedIn Button Styles */
.linkedin-btn {
  display: inline-block;
  background-color: #0077B5; /* LinkedIn brand color */
  color: white;
  padding: 8px 16px; /* Adjusted to match GitHub button dimensions */
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif; /* Ensuring font consistency */
  font-size: 16px;
  border: 1px solid #005582; /* Slightly darker border for more depth */
  font-weight: bold; /* Optional: Adjust if you prefer uniform font weight */
}

.linkedin-btn:hover, .linkedin-btn:focus {
  background-color: #005582; /* Darker shade for hover state */
  color: white;
  text-decoration: none; /* Ensures text remains not underlined */
  cursor: pointer; /* Ensures cursor changes to pointer */
}

/* GitHub Button Styles */
.github-btn {
  display: inline-block;
  background-color: black; /* Black background for the button */
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #333; /* Subtle border */
}

.github-btn:hover, .github-btn:focus {
  background-color: #333; /* Darker grey on hover/focus */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #f8f9fa;
        /* Vertically center content (if needed) */
  text-align: center;
}

.skill-tags {
    padding-top: 30px; /* Add some space between the line and the skill tags */
}

.skill-tags .skill {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    background-color: #28a745
;  /* Adjust the background color as needed */
    color: white;
    text-decoration: none;
    border: 2px solid #218838
;  /* Solid border, adjust color as needed */
    border-radius: 12px;  /* This gives the rounded corners */
    font-family: Arial, sans-serif;  /* Optional: sets the font */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.skill-tags .skill:hover {
    background-color: #218838
;  /* Darker shade on hover */
}

section {
  width: 60%
}
