---
---

@import "{{ site.theme }}";

/* LinkedIn Button Styles */
.linkedin-btn {
  display: inline-block;
  background-color: #0077B5; 
  color: white;
  padding: 8px 16px; 
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  border: 1px solid #005582; 
  font-weight: bold; 
}

.linkedin-btn:hover, .linkedin-btn:focus {
  background-color: #005582; 
  color: white;
  text-decoration: none; 
  cursor: pointer; 
}

/* GitHub Button Styles */
.github-btn {
  display: inline-block;
  background-color: black; 
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #333; 
}

.github-btn:hover, .github-btn:focus {
  background-color: #333; 
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #333;
  text-align: center;
  color: white;
  border: 2px solid white; 
  border-radius: 12px; 
  padding: 10px;
}

.skill-section .skill-tags h3 {
    color: white;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 2px solid #218838;
    text-align: center;
}

.skill-tags {
    padding-top: 10px;  
    padding: 12px;   
    display: inline-block; 
}

.skill-tags .skill {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    background-color: #28a745; 
    color: white;
    text-decoration: none;
    border: 2px solid #218838; 
    border-radius: 12px; 
    font-family: Arial, sans-serif;  
    transition: background-color 0.3s;  
}

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
}
